[push]
	followTags = true
[alias]
	c = !git add --all && git commit -m
	s = !git status -status
	l = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %(green)%cr'
	amend = !git add --all && git commit --amend --no-edit
	count = !git shortlog -s --grep